@charset "utf-8";
/* CSS Document */
.intro img {
	width: 30%;
	margin: 10px 0 0 35%;
}
.intro h1 {
	margin-top: 10px;
	font-size: 18px;
	color: red;
}
.intro li {
	color:#fff;
}
.info {
	list-style: none;
	padding-left: 20px;
	font-size: 14px;
	color:#fff;
}
.hinhanh img {width:100%;}
.text p {
	color:#fff;
}
.text strong {
	color: red;
}
.text .end {
	font-weight: bold;
	text-align: center;
	color: red;
}
.image img {
	width: 100%;
	margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
	.intro h1 {text-align: center;}
	.intro ul li {
		font-size: 17px;
	}
	.end {
		font-size: 18px;
	}
		.hinhanh img {
		margin-top: 10px;
	}
}
@media screen and (min-width: 992px) {
	.hinhanh img {
		margin-top: 10px;
		width:60%;}
	.end {font-size: 18px;}
}